/* Settings */

body {
    overflow: hidden;
    -ms-overflow-style: none;
    width: 100%; height: 100%;
    font-family: 'Song Myung';
    margin: 0px; border: 0px; padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

.background {
    background-color: #000;
    background-image: url("resources/img/background_r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    

    position: absolute;
    top: 80px;
    bottom: -1000px;
    right: 0;
    left: -20px;
    z-index: -1;

    filter: blur(2px);
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 10;
}

#GameName {
    position: absolute;
    top: 7px;
    left: 6vw;
    color: #fff;
    font-size: 30px;
    z-index: 9999;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 10;
}

.content {
    padding-top: 60px;
    padding-bottom: 100px;
    height: auto;
    width: 100%;
}


/* index.html */

#gameTitle {
    color: #e0d9de;
    font-size: 120px;
    text-align: center;
    padding-top: 20vw;
    margin-bottom: 4vw;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    letter-spacing: -6px;
    word-spacing: 10px;
}

.menuContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
    z-index : 800;
}

.menuContainer a {
    display: flex;
    justify-content: center;

    margin: 8px 6vw;
    padding: 0 10px;

    background-color: #000000;

    text-decoration: none;
    text-align: center;
    font-size: 40px;
    white-space: nowrap; 
    color: rgba(255, 255, 255, 0.781);
}

a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}



/* quiz.html */

#titleBox {
    margin: 0 0; padding: 0 0;
    position: relative;
    margin-bottom: 40px;

    text-align: center;

    z-index: 999;
    
    animation: bounce 1.5s infinite;
}

#titleBox p {
    margin: 8px 0; padding: 30px 0 0 0;
    color: #fff;
}

#randomTitle {
    display: inline;
    width: fit-content;
    padding: 2px 8px 2px 5px;

    background-color: #ffffff;
    font-size: 30px;
}

#randomTitle::before {
    font-size: 23px;
    content: "🎵 ";
}

#randomTitle:hover {
    background-color: #ccc6c6c7;
    background-blend-mode: hard-light;
}

.randomTitle-dragged {
    transform: scale(0.5);
    background-color: #310808c7;
}

.ui-draggable-dragging{
    transform: scale(0.5);
    background-color: #310808c7;
}

@keyframes bounce {
    0% {
        top: 100px;
    }

    50% {
        top: 105px;
    }

    70% {
        top: 105px;
    }

    100% {
        top: 100px;
    }
  }

#albums {
    margin: 0 auto; padding: 100px 0;
    /* position: relative; */
    display: block;
    text-align: center;
    top: 110px;
    height: fit-content;
}

.album {
    margin: 7px;
    width:13vw;
    max-width: 100px;
    min-width: 60px;

    transition: all 0.2s linear;
}

.album-hovered {
    transform: scale(1.2);
}

#progress {
    margin: 0 0; padding: 0 0;
    position: absolute;
    bottom: 130px;
    right: 3vw;
    text-align: center;
    color: #fff;
    font-size: 5vw;
}

/* score page */

@media all and (max-width:900px) {
    #gameTitle {
        color: #e0d9de;
        font-size: 80px;
        text-align: center;
        padding-top: 20vw;
        margin-bottom: 4vw;
        text-shadow: 4px 4px 6px rgb(0, 0, 0);
        letter-spacing: -6px;
        word-spacing: 10px;
    }

    #score {
        display: block;
    
        color: #ffffff;
        font-size: 100px;
        text-align: center;
        padding-top: 80px;
        margin-top: 0;
        margin-bottom: 20px;
        padding-right: 6vw;
        letter-spacing: -6px;
        word-spacing: 10px;
    }

    .results {
        overflow-y: scroll;
        -ms-overflow-style: none;
    
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 10%;

        max-height: 500px;
    }

    .resultBox {
        display: flex;
        justify-content: center;
    
        width: fit-content;
        margin: 8px 10px;
        padding: 0 0 ;
    
        background-color: #fff;
    }

    .resultBox img {
        margin: 6px 3px 6px 11.5px;
        display: block;
        width: 1vw;
        min-width: 20px;
    }
    
    .resultBox h2 {
        margin: auto 17px auto 5px;
        display: block;
        font-size: 18px;
        /* white-space: nowrap;  */
    }
    
    .resultBox h2::before {
        font-size: 10px;
        content: "🎵 ";
    }
}

@media all and (max-width:14000px) {
    #score {
        display: block;
    
        color: #ffffff;
        font-size: 230px;
        text-align: center;
        padding-top: 80px;
        margin-top: 0;
        margin-bottom: 20px;
        padding-right: 6vw;
        letter-spacing: -6px;
        word-spacing: 10px;
    }

    .results {
        overflow-y: scroll;
        -ms-overflow-style: none;
    
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 10%;

        max-height: 300px;
    }

    .resultBox {
        display: flex;
        justify-content: center;
    
        width: fit-content;
        margin: 8px 10px;
        padding: 0 0 ;
    
        background-color: #fff;
    }

    .resultBox img {
        margin: 6px 3px 6px 11.5px;
        display: block;
        width: 3vw;
        min-width: 35px;
    }
    
    .resultBox h2 {
        margin: auto 17px auto 5px;
        display: block;
        font-size: 20px;
        /* white-space: nowrap;  */
    }
    
    .resultBox h2::before {
        font-size: 15px;
        content: "🎵 ";
    }
}

.results::-webkit-scrollbar {
    display: none;
}



/* TimeAttack Score Page */

#time {
    color: #ffffff;
    font-size: 17vw;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    letter-spacing: -6px;
    word-spacing: 10px;
}

#time:after {
    content: "sec";
    color: #ffffff;
    font-size: 10vw;
    letter-spacing: -6px;
    word-spacing: 10px;
}